# Node modules
node_modules/
.env
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# dotenv environment files
.env*

# IDE settings
.vscode/
.idea/
